@font-face {
	font-family: 'Outfit';
	src: url('/Outfit.ttf') format('TrueType');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	font-synthesis: none !important;
}

:root {
	--text: #27293b;
	--bg: #ede8f5;
	--bg2: #adbbda;
	--primary: #8697c4;
	--red: #ff6666;
	--green: #3ddc97;

	font-family: Outfit;
	color: var(--text);
}

html,
body {
	min-height: 100%;
}

body {
	background: linear-gradient(0deg, var(--bg), var(--bg2));
}

button {
	font-family: Outfit;
	font-size: 0.9em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	touch-action: manipulation;
}

button:disabled {
	box-shadow: none;
}

textarea {
	font-family: Outfit;
	font-size: 0.9em;
}

.standard-shadow {
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
